.logo {
    width: fit-content;
    filter: drop-shadow(0px 0px 9px #000);
    margin: 0 auto;
    position: relative;
    margin-bottom: 28px; 
}
.content {
    background: #0000001f;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    border-radius: 6px;
    text-align: center;
    font-family: 'Viga';
    font-size: 11px;
}
