.logo {
    width: fit-content;
    filter: drop-shadow(0px 0px 9px #000);
    margin: 0 auto;
    position: relative;
    margin-bottom: 28px; 
}
.content {
    text-align: center;
    font-family: 'Viga';
    font-size: 11px;
}
